{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>
        State history
    </h1>

    <div class="panel-group">
        {% for result in check_results %}
        <div id="state-heading" class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td>Source:</td>
                        <td><a href="{% url 'monitoring_all_states' %}?source_type={{ result.source_type.pk }}&source_id={{ result.source_id }}">{{ result.source }}</a></td>
                    </tr>
                    <tr>
                        <td>Host:</td>
                        <td><a href="{% url 'monitoring_all_states' %}?host={{ result.host }}">{{ result.host|default_if_none:'' }}</a></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><a href="{% url 'monitoring_all_states' %}?name={{ result.name }}">{{ result.name }}</a></td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td>{{ result.timestamp }}</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td><a href="{% url 'monitoring_all_states' %}?status={{ result.status.name }}">{{ result.status.name|upper }}</td>
                    </tr>
                    <tr>
                        <td>Check output:</td>
                        <td>{{ result.output }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if paginator.num_pages > 1 %}
    <ul class="pagination">
        {% for page in paginator.page_range %}
        <li{% if page_obj.number == page %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

