{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<script src="{% static 'highstock.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>State detail</h1>
    <h3>{{ state.status.name|upper }}: {{ state.full_path }}</h3>
    <div id="state-heading" class="panel panel-default">
        <div class="panel-heading">
            <table>
                <tr>
                    <td>Source:</td>
                    <td><a href="{% url 'monitoring_all_states' %}?source_type={{ state.source_type.pk }}&source_id={{ state.source_id }}">{{ state.source }}</a></td>
                </tr>
                <tr>
                    <td>Host:</td>
                    <td><a href="{% url 'monitoring_all_states' %}?host={{ state.host }}">{{ state.host|default_if_none:'' }}</a></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><a href="{% url 'monitoring_all_states' %}?name={{ state.name }}">{{ state.name }}</a></td>
                </tr>
                <tr>
                    <td>First seen:</td>
                    <td>{{ state.first_seen }} ({{ state.first_seen|timesince }} ago)</td>
                </tr>
                <tr>
                    <td>Last checked:</td>
                    <td>{{ state.last_checked }} ({{ state.last_checked|timesince }} ago)</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td><a href="{% url 'monitoring_all_states' %}?status={{ state.status.name }}">{{ state.status.name|upper }}</td>
                </tr>
                <tr>
                    <td>Last status change:</td>
                    <td>
                        {% if state.last_status_change %}
                        {{ state.last_status_change }} ({{ state.last_status_change|timesince }} ago)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Check output:</td>
                    <td>{{ state.output }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="state-metrics" class="container"></div>
{% endblock %}

{% block page_scripts %}
<script>
$(function () {
    $('#state-metrics').highcharts('StockChart', {
        rangeSelector: {
            selected: 4
        },
        title: {
            text: 'Metrics'
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: 'Date'
            }
        },
        series: [
            {% for name, values in state.metrics_series.items %}
            {
                name: '{{ name }}',
                data: [
                    {% for timestamp, value in values %}
                    [Date.parse('{{ timestamp.isoformat }}'), {{ value }}],
                    {% endfor %}
                ]
            },
            {% endfor %}
        ]
    });
});
</script>
{% endblock %}
