body {
    padding-top: 50px;
}

input.search {
    width: 250px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.very-small {
    font-size: 50%;
}

#state-heading {
    position: relative;
}

#state-heading table {
    width: 100%;
}

#state-history-link {
    right: 10px;
    top: 10px;
    position: absolute;
}
